:root {
  --blue: hsl(207, 61%, 30%);
  --bg: linear-gradient(45deg, #0d324d,#0cbaba);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  background-image: var(--bg)
}

.app-content{
 width: 550px;
 margin: 0 auto;
 padding-top: 3rem;
}

.top-content > .title, .subtitle {
  width: 350px;
  text-align: center;
}

.top-content {
  display: grid;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--blue);
  color: white;
} 

.modal-card-body > p {
  text-align: center;
  font-weight: 500;
}

.container {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.inner-container {
  padding: 5px 5px 5px 5px;
}
.tags {
  padding-top: 7px;
}
.select {
  margin-top: -7px;
  margin-right: 3px;
}
.footer, strong{
  background-color: transparent;
  color: white;
}
.semester-delete {
  margin-top: 7px;
}

@media (max-width: 600px) {
  .app-content {
    width: 90%;
  }
  .top-content > .title, .subtitle {
    width: 300px;
  }
}