:root {
  --blue: hsl(207, 61%, 30%);
  --bg: linear-gradient(45deg, #0d324d, #0cbaba);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: var(--bg);
  width: 100vw;
  height: max-content;
}

.App {
  height: 100vh;
}

.title {
  width: 500px;
}

.calc-card {
  width: 80%;
  max-width: 600px;
}

@media (max-width: 500px) {
  .desktop-table {
    display: none;
  }
}

@media (min-width: 500px) {
  .mobile-table {
    display: none;
  }
}

@media (min-width: 992px) {
  .header-fs {
    font-size: large;
  }
}